.primary {
    background-color: var(--background-color);
    height: 10px;
    border: 0;
    min-width: 100%;
}

.second {
    background-color: var(--page-color);
    height: 10px;
    border: 0;
}